node_modules
dist
build
coverage
.cache
.env
.env.local
.env.*.local
*.log
.DS_Store
.idea
.vscode
apps/contracts/artifacts
apps/contracts/cache
apps/contracts/typechain-types
apps/contracts-helios/cache
apps/contracts-helios/out
